<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

  <!-- Site title (in tabs, etc.) -->
  <title>{{ site.title | escape }} {{ site.subtitle | escape }}</title>

  <!-- KaTeX support -->
  {% if page.katex %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css"
        rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/fonts.css"
        rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js"></script>
  {% endif %}

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RSXXNXGJQC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RSXXNXGJQC');
  </script>
</head>
