<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

  <!-- KaTeX support -->
  {% if page.katex %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css"
        rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/fonts.css"
        rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js"></script>
  {% endif %}

  <!-- MathJaX support -->
  <!-- {% if page.usemathjax %}
       <script type="text/x-mathjax-config">
       MathJax.Hub.Config({
       TeX: {
       equationNumbers: {
       autoNumber: "AMS"
       }
       },
       tex2jax: {
       inlineMath: [ ['$', '$'] ],
       processEscapes: true,
       },
       CommonHTML: {
       scale: 90
       }
       });
       MathJax.Hub.Register.MessageHook("Math Processing Error",function (message) {
       alert("Math Processing Error: "+message[1]);
       });
       MathJax.Hub.Register.MessageHook("TeX Jax - parse error",function (message) {
       alert("Math Processing Error: "+message[1]);
       });
       </script>
       <script type="text/javascript" async
       src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
       </script>
       {% endif %} -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RSXXNXGJQC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RSXXNXGJQC');
  </script>
</head>
