<div class="site-nav">
  <nav>
    <ul>
      <!-- Create the ordered list of pages -->
      {%- assign ordered_pages = '' | split: '' -%}
      <!-- Recent news ("home") first -->
      {%- for node in site.pages -%}{%- if node.url == "/" -%}
      {%- assign ordered_pages = ordered_pages | push: node -%}
      {%- endif -%}{%- endfor -%}
      <!-- Blog second -->
      {%- for node in site.pages -%}{%- if node.url == "/blog/" -%}
      {%- assign ordered_pages = ordered_pages | push: node -%}
      {%- endif -%}{%- endfor -%}
      <!-- All other pages -->
      {%- for node in site.pages -%}{%- if node.url != "/" and node.url != "/blog/" -%}
      {%- assign ordered_pages = ordered_pages | push: node -%}
      {%- endif -%}{%- endfor -%}

      <!-- Homepage and blog -->
      {%- for node in ordered_pages -%}
      {%- if node.title -%}
      <li
        {% if node.url == "/blog/" %}
        class="blog-button"
        {% endif %}>
        <a href="{{ node.url | relative_url }}"
           {% if page.url == node.url %}
           class="active"
           {% endif %}>
          {{ node.title | escape }}
          {%- if node.url == "/" -%}
          <i class="fas fa-bullhorn"></i>
          {%- elsif node.url == "/blog/" -%}
          <i class="fas fa-blog"></i>
          {%- endif -%}
        </a>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>
</div>
